<div style='padding:20px;margin:auto;width:35%;box-shadow:0px 0px 10px gray;'><h1 style='text-align:center'>CANADA</h1><ol type='1'><li>USA</li></ol><img src='https://restcountries.eu/data/can.svg' style='height:200px;width:100%'/><h2 style='color:red'> Languages: English,French,</h2></div>